* {
    border: 0;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*------------------IR ARRIBa------------*/

a.go-top {
    position: fixed;
    bottom: 2em;
    right: 2em;
    text-decoration: none;
    color: #fff;
    /*background-color: rgb(0, 0, 0, );*/
    background-color: #ED6A16;
    font-size: 12px;
    padding: 1em;
    display: none;
}

a.go-top:hover {
    /*background-color: rgba(0, 0, 0, 0.6);*/
    background-color: black;
}
/*----------------INDEX-----------------*/

.nameimg{
    background: rgba(0,0,0,0.5);
    color: #fff;
    text-align: center;
    padding: 5px 0px;
    font-weight: bold;
    font-size: 18px;
}

.banner {
    width: 100%;
    position: relative;
    height: 650px;
    background: url('../img/banner.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    clear: both;
}
.fondo{
    width: 100%;
    background: rgba(0,0,0,.4);
    height: 650px;
    overflow: hidden;
}
nav{
    margin-top: 5%;
    margin-left: 5%;

}
nav ul{

}
nav ul a.selector{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #fff;
    padding: 20px;
}
nav ul a.selector:hover{
    color: #000;
}
nav ul a#select{
    color: #000;
}
nav ul a#select2{
    color: #ED6A16;
}

.logo{
    width: 20%;
    margin-right: 5%;
}
.tit-form1{
    /*border: 2px red solid;*/
    overflow: hidden;
    width: 100%;
    margin-top: 15%;
}
.tit{
    color: #fff;
    font-size: 70px;
}
.get-in-touch {
position: relative;
margin: 0 auto;
padding: 30px;
max-width: 370px;
border-radius: 2px;
background: rgb(255, 255, 255) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAGCAYAAACFIR03AAAAV0lEQVR42tXOMRWAQAwE0RWFDRTg5d47Jeg4Q9gI06RbqlwKil/P6LpXbDCf85AxEBtMGjKG/jyPUHUerfP4nEeoOo/Wedj5pOo8Wudh55Oq82idh51PLxpvled7kLAXAAAAAElFTkSuQmCC) repeat-x;
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.get-in-touch input[type=text],.get-in-touch input[type=email], .get-in-touch textarea {
background: rgb(235, 241, 245);
color: rgb(36, 39, 41);
}
.get-in-touch  input:focus, .get-in-touch  textarea:focus {
outline: 0;
background: #FFF;
}
.cuadro:hover{
    border-bottom: 3px #ED6A16 solid;
}
.imagen{
    width: 100%;
    position: relative;
    height: 220px;
    background: url('../img/cancun.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    overflow: hidden;
    clear: both;
}
.imagen1{
    width: 100%;
    position: relative;
    height: 220px;
    background: url('../img/mazatlan.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    overflow: hidden;
    clear: both;
}
.imagen2{
    width: 100%;
    position: relative;
    height: 220px;
    background: url('../img/acapulco.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    overflow: hidden;
    clear: both;
}
.imagen3{
    width: 100%;
    position: relative;
    height: 220px;
    background: url('../img/mexico.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    overflow: hidden;
    clear: both;
}
.fondoi{
    width: 100%;
    background: rgba(0,0,0,.4);
    height: 220px;
    overflow: hidden;
}
.fondoi p i{
    color: #fff;
    padding-right: 10%;
    padding-top: 10%;
}
.text-fondoi{
    font-family: 'Oswald', sans-serif;
    text-align: center;
    color: #fff;
    font-size: 40px;
}
.text-fondoi b{
    font-family: 'Lobster', cursive;
}
.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}
/*.............FOOTER--------------*/
footer{
	background: #ED6A16;
	font-family: 'Oswald', sans-serif;
	height: 100px;
	/*font-size: 20px;*/
	overflow: hidden;
	clear: both;
}
footer p{
	width: 100%;
	text-align: center;
	font-size: 20px;
	margin-top: 3%;
	color: #fff;
}

/*------------------nosotros------------*/
.banner2 {
    width: 100%;
    position: relative;
    height: 650px;
    background: url('../img/banner2.jpeg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    clear: both;
}
.fondo{
    width: 100%;
    background: rgba(0,0,0,.4);
    height: 650px;
    overflow: hidden;
}
.logo2{
    width: 43%;
    /*width: 100%;
    position: relative;
    height: 220px;
    background: url('../img/acapulco.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;*/
    /*background-attachment: fixed;*/
    overflow: hidden;
    clear: both;
}
/*-------------servicios-----------------*/
.banner3 {
    width: 100%;
    position: relative;
    height: 650px;
    background: url('../img/banner3.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    clear: both;
}

.gallery-title
{
    font-size: 36px;
    color: #ED6A16;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #ED6A16;
}
.filter-button
{
    font-size: 18px;
    border: 1px solid #ED6A16;
    border-radius: 5px;
    text-align: center;
    color: #ED6A16;
    margin-bottom: 30px;

}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid #000;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #000;

}
.btn-default:active .filter-button:active
{
    background-color: #42B32F;
    color: white;
}

.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
}

/*--------------------contacto-----------------*/
.banner4 {
    width: 100%;
    position: relative;
    height: 650px;
    background: url('../img/banner4.jpeg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    clear: both;
}
.mapa{
    width: 100%;
}
.mapa iframe{
    width: 100%;
}

.second-portion
        {
            margin-top:50px; 
        }

                @import "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css";
        @import "http://fonts.googleapis.com/css?family=Roboto:400,500";

        .box > .icon { text-align: center; position: relative; }
        .box > .icon > .image { position: relative; z-index: 2; margin: auto; width: 88px; height: 88px; border: 8px solid white; line-height: 88px; border-radius: 50%; background: #ED6A16; vertical-align: middle; }
        .box > .icon:hover > .image { background: #333; }
        .box > .icon > .image > i { font-size: 36px !important; color: #fff !important; }
        .box > .icon:hover > .image > i { color: white !important; }
        .box > .icon > .info { margin-top: -24px; background: rgba(0, 0, 0, 0.04); border: 1px solid #e0e0e0; padding: 15px 0 10px 0; min-height:163px;}
        .box > .icon:hover > .info { background: rgba(0, 0, 0, 0.04); border-color: #e0e0e0; color: white; }
        .box > .icon > .info > h3.title { font-family: "Robot",sans-serif !important; font-size: 16px; color: #222; font-weight: 700; }
        .box > .icon > .info > p { font-family: "Robot",sans-serif !important; font-size: 13px; color: #666; line-height: 1.5em; margin: 20px;}
        .box > .icon:hover > .info > h3.title, .box > .icon:hover > .info > p, .box > .icon:hover > .info > .more > a { color: #222; }
        .box > .icon > .info > .more a { font-family: "Robot",sans-serif !important; font-size: 12px; color: #222; line-height: 12px; text-transform: uppercase; text-decoration: none; }
        .box > .icon:hover > .info > .more > a { color: #fff; padding: 6px 8px; background-color: #63B76C; }
        .box .space { height: 30px; }

        @media only screen and (max-width: 768px)
        {
            .second-portion
            {
                margin-top:25px; 
            }
        }
    /* Conatct end */